@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Subrayada');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Montserrat Subrayada'
}

table {
  margin: 70px;
  padding: 5px;
}

td {
  padding: 10px;
  border: lightblue solid 1px;
}
